textarea {
    resize: none;
    height: 30vh;
    max-width: 100%;
    background-color:blue;
}

header {
    width: 100%;
    background-color:#1f1f24;
    color: aliceblue;
}

.name {
    padding:25px;
    font-size:55px;
    text-align: center;
}

.playingfield{
    max-width: 100%;
    vertical-align: middle;
}
    
.field {
    vertical-align: middle;
    text-align: center;
    border-color:white;
    background-color: rgb(1, 1, 48);
    color:  aliceblue;
    max-width:31.5%;
    margin: 10px;
}

.startText {
    padding:35px;
    vertical-align: middle;
    text-align: center;
    font-size:30px;
}

.message {
    width:88%;
}

.buttonOption{
    font-size:35px;
}